<%# <%= form_for(:comment, html: { multipart: true }) do |f| %>
<%= form_with(model: [@micropost, @micropost.comments.build]) do |f| %>
    <%= render 'shared/error_messages', object: f.object %>
    <div class="field">
        <%= f.hidden_field :micropost_id, :value => @micropost.id %>
        <%= f.hidden_field :user_id, :value => @micropost.user.id %>
        <%= f.text_area :body, placeholder: "Comment..." %>
    </div>
    <%= f.submit "Comment", class: "btn btn-primary" %>
<% end %>