<div class="reply mt-1">
  <%= link_to gravatar_for(reply.user, size: 40), reply.user %>
  <span class="user"><%= link_to reply.user.name, reply.user %></span>
  <div class="float-right">
    <% if current_user.id === reply.user_id %>
      <%= link_to 'Edit', edit_comment_path(reply.id), remote: true, class: 'btn btn-primary btn-sm btn-reply' %>
    <%end %>
    <% if reply.micropost.user_id === current_user.id || reply.user_id === current_user.id %>
      <%= link_to 'Delete', reply, method: :delete, data: {confirm: "Are you sure?" }, class: 'btn btn-danger btn-sm btn-reply' %>
    <% end %>
  </div>
  <div class="timestamp">
    <%= time_ago_in_words(reply.created_at) %> ago.
  </div>
  <div class="comment-body">
    <%= reply.body %>
  </div>
  <div id="holder-form-for-<%= reply.id %>"></div>
</div>