<li id="micropost-<%= micropost.id %>">
    <%= link_to gravatar_for(micropost.user, size: 50), micropost.user %>
    <span class="user"><%= link_to micropost.user.name, micropost.user %></span>
    <div style="float: right">
        <% if current_user?(micropost.user) %>
            <%= link_to "Delete", micropost, method: :delete, data: {confirm: "Are you sure?" }, class: 'btn btn-danger' %>
            <%= link_to 'Edit',edit_micropost_path(micropost), class: 'btn btn-primary' %>
            <% end %>
        <%= link_to "Comment", micropost, class: 'btn btn-info'%>
    </div>
    <p class="timerastamp">
        Posted <%= time_ago_in_words(micropost.created_at) %> ago.
    </p>
    <span class="content">
        <%= micropost.content %>
    </span>
    <%= image_tag(micropost.picture.url, class: "image-preview") if micropost.picture? %>
    
</li>